*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-color:blueviolet ;
}
/* nav bar  */
.nav_bar{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
}
.nav_anchorTag{
    text-decoration: none;
    padding: 1
    0px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-transform : uppercase;
    color:  rgba(255,255,255,0.9);
    font-family: 'Pacifico', cursive;
    background-color: transparent;
    border:none;
}
.nav_anchorTag:hover{
    font-size: xx-large;
    cursor: pointer;
   
}
/* navbar over */
.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    border: 2px solid yellow;
    height: 60%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color:blueviolet; */
  
}
@media (max-width:800px) {
    .container{
        width: 100vw;
    }
}
.search_container{
    height: 20vh;
   
    display: flex;
    justify-content: center;
    padding: 20px;
  background-color: crimson;
}
.result_container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color:lightsalmon;

}
.input_city{
    width: 60%;
  
}
.search{
    width: 20%;
    font-size: 1em;
    font-weight: bold;
}