@import "_var";
*{margin: 0; padding: 0;box-sizing: border-box;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{
    background-color: rgb(54, 20, 85);
}
/* nav bar  */
$nav-color : rgba(255,255,255,0.1);

@mixin commonProperties($w,$v1,$v2,$v3){
    width: $w;
    height:$v1 ;
    padding:$v2 ;
    font-size: $v3;

}
.nav_bar{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: $nav-color;
}
.nav_anchorTag{
   
    text-decoration: none;
    padding: 1px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-transform : uppercase;
    color:  rgba(255,255,255,0.9);
    font-family: 'Pacifico', cursive;
    background-color: transparent;
    border:none;

    &:hover{
        font-size: xx-large;
        cursor: pointer;
    }
}

/* navbar over */
.main_container{
    width: $w;
    min-height: 100vh;
    position: absolute;
    top: 100px;
    color: aliceblue;
    font-size: large;

}

.typingSpeed_container{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    text-align: center; 

}

.paragrapes_lines{
    @include commonProperties($w,200px , 10px," " );
    background-color: rgb(138, 101, 159);
    border-radius: 20px;
}

.text_area{
    @include commonProperties($w,200px,10px,20px);
    border-radius: 20px;
}

.start_done_btn{
    @include commonProperties($w,40px ,"",larger );
    background-color: rgb(98, 84, 111);
    color: white;
    border-radius: 20px;
 
}

td{
    @include commonProperties($w,"" ,5px ,"");
}

.resultTable{
    display: none;
    border: 2px solid white;
    border-collapse: collapse;    
    
}

@media (max-width:780px){
    .main_container{
        position: absolute;
        top: 150px;
    }
        
}
