*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    background-color: palevioletred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: white;
}
/* nav bar  */
.nav_bar{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
}
.nav_anchorTag{
    text-decoration: none;
    padding: 1
    0px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-transform : uppercase;
    color:  rgba(255,255,255,0.9);
    font-family: 'Pacifico', cursive;
    background-color: transparent;
    border:none;
}
.nav_anchorTag:hover{
    font-size: xx-large;
    cursor: pointer;
   
}
/* navbar over */

.nav_bar_main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  
}

.answers{
    color: black;
    background-color: white;
    padding: 20px;
    font-size: large;
} 

.allAnswers{
    display: none;
}
.form{
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%);
   border:2px solid rgb(116, 43, 114);
   box-shadow: 10px 10px 5px rgba(116, 43, 114,0.5);
   width: 60vh;
   height: auto;
   display: flex;
   flex-direction: column;
   padding: 30px;
   text-transform: capitalize;
   padding-left: 90px;
    
}

.Error-color{
    display: none;
    color: rgb(131, 19, 19);
}

.inputs{
    width: 70%;
    border-radius: 10px;
    height: 30px;
    font-size: large;
    
}

.submitButton{
    width: 50%;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    

}